{% extends layout_backend %}
{% block title %}Actualite::Edit{% endblock %}

{% set menuCMS = true %}
{% set menuActualites = true %}
{% set menuActualitesAdd = true %}

{% block pageicon %}
    pe-7s-switch
{% endblock %}
{% block pagetitle %}
    Modification actualité
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
    {{ include('backend/actualites/_form.html.twig') }}
    <a href="{{ path('admin_actualites_list') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
