{% extends layout_backend %}
{% block title %}Année universitaire::Modification{% endblock %}

{% set menuCollegeYear= true %}
{% set menuCollegeYearAdd = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Année universitaire
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
     {{ include('backend/college-year/_form.html.twig') }}
     <a href="{{ path('admin_college_year_index') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
