{% extends layout_backend %}
{% block title %}Actualité::Ajout{% endblock %}

{% set menuCMS = true %}
{% set menuActualites = true %}
{% set menuActualitesAdd = true %}

{% block pageicon %}
    pe-7s-browser
{% endblock %}

{% block pagetitle %}
    Nouvelle Opportunité
{% endblock %}

{% block pagetitlesmall %}{% endblock %}

{% block content %}
    {{ include('backend/opportunites/_form.html.twig') }}
    <a href="{{ path('admin_opportunite_list') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
