<div class="listing">
    <h3 class="sub-title">L’UCM décline sa mission par trois verbes :</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="item">
                <a href="" title="mission 01">
                    <figure>
                        <img src="{{ asset('/assets/images/data/missions/mission-01.png') }}" alt="photo mission 01">
                    </figure>
                    <div class="desc">
                        <p class="icon"><i class="iconucm-transmettre"></i></p>
                        <h4>Transmettre</h4>
                        <div class="text">
                            <div class="inner-text">
                                <p>
                                    Transmettre à nos étudiants à la fois savoirs et valeurs et inculquer la
                                    culture de l’excellence, celle qui refuse la médiocrité dans le travail,
                                    l’attitude ou la responsabilité. En faisant naître le goût de la
                                    recherche et la rigueur dans le travail, nous souhaitons que les
                                    étudiants incarnent dès à présent la conscience critique de leur société
                                    et soient demain les professionnels dont Madagascar a besoin.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="item">
                <a href="" title="mission 02">
                    <figure>
                        <img src="{{ asset('/assets/images/data/missions/mission-02.png') }}" alt="photo mission 02">
                    </figure>
                    <div class="desc">
                            <p class="icon"><i class="iconucm-rocket"></i></p>
                            <h4>Innover</h4>
                            <div class="text">
                                <div class="inner-text">
                                    <p>
                                        Innover pour une pédagogie, une recherche et une gouvernance d’excellence en vue d’une amélioration continue de toutes
                                        les activités de notre Institution.
                                    </p>
                                </div>
                            </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="item">
                <a href="" title="mission 03">
                    <figure>
                        <img src="{{ asset('/assets/images/data/missions/mission-03.png') }}" alt="photo mission 03">
                    </figure>
                    <div class="desc">
                        <p class="icon"><i class="iconucm-pray"></i></p>
                        <h4>S’engager</h4>
                        <div class="text">
                            <div class="inner-text">
                                <p>
                                    S’engager pour humaniser et, à travers chacune de nos actions, être au service de l’Eglise et de la société. C’est en
                                    encourageant l’ensemble des membres de notre communauté universitaire à être acteurs du changement social que notre
                                    Université répond à cette mission. Rejoindre l’Université Catholique de Madagascar, en tant que professeur, chercheur,
                                    personnel ou étudiant, c’est s’engager à vivre les valeurs de justice sociale et de solidarité.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>