{% extends layout_backend %}
{% block title %}domaine de recherche::Modification{% endblock %}

{% set menuBatiment = true %}
{% set menuBatimentAdd = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Domaine de recherche
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
     {{ include('backend/DomaineRecherche/_form.html.twig') }}
     <a href="{{ path('DomaineRecherche_index') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
