{% extends layout_backend %}
{% block title %}Mention::Modification{% endblock %}

{% set menuFormation = true %}
{% set menuFormationMentionAdd = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Mention
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
     {{ include('backend/mention/_form.html.twig') }}
     <a href="{{ path('admin_rf_mention_liste') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
