{% extends layout_backend %}
{% block title %}Niveau::Ajout{% endblock %}

{% set menuSalle = true %}
{% set menuSalleAdd = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Niveau
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
     {{ include('backend/salle/_form.html.twig') }}
     <a href="{{ path('admin_rf_salle_liste') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
