{% extends layout_frontend %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="container center">
    
        <h2>Inscription bien enregistrée. Pour toute demande de renseignements supplémentaires, veuillez adresser votre demande à l'adresse email suivante info.concours@ucm.mg ou téléphoner directement au 020 22 340 07</h2>
{% endblock %}