{% extends layout_backend %}
{% block title %}Média::Edit{% endblock %}

{% set menuCMS = true %}
{% set menuSetting = true %}
{% set menuSettingProfilAdd = true %}

{% block pageicon %}
    pe-7s-switch
{% endblock %}
{% block pagetitle %}
    Modification media
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
    {{ include('backend/medias/_form.html.twig') }}
    <a href="{{ path('admin_medias_list') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
