{% extends layout_backend %}
{% block title %}Professorat::Modification{% endblock %}

{% set menuBatiment = true %}
{% set menuBatimentAdd = true %}

{% block pageicon %}
    pe-7s-box1
{% endblock %}
{% block pagetitle %}
    Professorat
{% endblock %}
{% block pagetitlesmall %}{% endblock %}

{% block content %}
     {{ include('backend/Professorat/_form.html.twig') }}
     <a href="{{ path('Professorat_index') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
