{% extends layout_frontend %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="container center">
        <p class="py-5" style="color: #000;">Inscription bien réçue.<br>Vous recevrez un email de confirmation après etude de votre dossier.</p>
{% endblock %}