{% extends layout_frontend %}
{% block title %}Identification étudiant{% endblock %}
{% block content %}
<div class="main-container">
    <!-- hidden Title H1 -->
    <h1 class="hide">Frais de scolarité</h1>

    <!-- big slider banner authentification espace etudiant -->
    <section class="banner banner-espaceEtudiant">
        <div class="banner-container">
            <figure class="bigImg">
                <img src="{{ asset('/assets/images/data/banner-authentication.png') }}" alt="Authentification Etudiant">
            </figure>
            <div class="desc">
                <div class="container">
                    <h2 class="main-title">Authentification</h2>
                    <p class="sub-title">Espace étudiant</p>
                </div>
            </div>
        </div>
    </section> <!-- /Big slider -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-bloc container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="iconucm-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Espace étudiant</span></li>
        </ol>
    </nav><!-- /breadcrumb -->

    <div class="main-contentPage authentication-container">
        <div class="container">
            <div class="row no-gutters m-auto">
                <div class="col-md-12">
                    <article class="mainBloc mainBloc-authentication" id="mainBloc">
                        <h2>Blocage ecolage</h2>
                        <div class="intro-text">
                            <p>Veuillez vous renseigner aupres de la scolarité.</p>
                        </div>
                    </article> <!-- /main Bloc -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ( function( $ ) {
            $(document).ready(function () {
            });

        } )( jQuery );
    </script>
{% endblock %}

