/* RESET */
body, ul, li, ol, form, h1, h2, h3, h4, h5, h6, div, span, p { padding:0; margin:0; border:0; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; text-size-adjust:none;}
strong,b	{ font-weight:bold; font-family:din; }
ul			{ list-style-type:none;}
body		{ font:normal 16px/24px Arial; color:#303030; background:#fff;}
a			{ text-decoration:none; color:#3554d2; outline:none;}
img			{ border:none; max-width: 100%; height: auto; margin: 0;}
*	{ box-sizing:border-box;}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.wrapper 	{ 
	margin: auto;
    max-width: 1440px;
    padding: 0 48px;
    position: relative;
	width: 100%;
}
 

/* CLASS */
.clear			{ clear:both; float:none !important; width:100% !important; height:0;padding:0 !important; margin:0 !important; display:block;}
.left			{ float:left;}
.right 			{ float:right;}
.sousTitre 		{ font:normal 20px/24px din; color:#3554d2; position:relative; margin:0 0 25px 0;}

/* header */
.header{
	background: url(../images/header.png) no-repeat center;
	background-size: cover;
}
.header-home {
	height: 814px;
	width: 100%;
}
.top {
    background: transparent;
    padding: 10px 48px 10px;
	position: fixed;
    border-bottom: 1px solid #bababc;
    height: 84px;
    width: 100%;
	z-index: 999;
}
.top.scroll-in {
	background: rgba(0, 0, 0, .5);
}
.logo {
	height: 30px;
    display: block;
    float: left;
    margin-top: 17px;
}
/* Menu */
.wrapMenuMobile { 
	width: auto;
	height: 30px;
	display: block;
	z-index: 80;
	transition: all 400ms ease-in-out;
	color: #fff;
	font: normal 14px/18px din;
	letter-spacing: .8px;
	cursor: pointer;
	padding: 20px 18px 0 18px;
	text-transform: uppercase;
	position: relative;
	float: right;
}
.menuMobile	{
	width: auto;
    display: block;
    height: 18px;
    cursor: pointer;
    position: relative;
    line-height: 17px;
    padding: 0 0 0 35px;
    text-indent: -9999px;
}
.menuMobile>div	{
	width: 20px;
    height: 5px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
}
.menuMobile>div:before {
	width: 8px;
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
}
.menuMobile>div:after {
	width: 31px;
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
}
.menuMobile.active>div				{ height:0px;}
.menuMobile.active>div:before		{ top:0; transform:rotate(45deg);}
.menuMobile.active>div:after		{ top:0; transform:rotate(-45deg);}
.menu div.close-menu {
	padding: 30px 30px 50px;
	display: none;
}
.menu div a{
	color: #0f0f0f;
}
.menu								{ 
	width:100%; height:auto; position:absolute; left:0; top:0; padding:0; background:#fff; z-index:999;
}
.menu>ul {
	width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 70px;
    padding: 0 30px;
    background: #fff;
    display: none;
    z-index: 999;
}
.menu ul li {
	width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0 0 20px;
    border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
	position: relative;
}
.menu li a { 
	line-height: 60px;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    border-bottom: 0;
    width: 100%;
    float: none;
    color: #0f0f0f;
    font-size: 20px;
}
.menu li a span						{ display:none;}
.menu>ul>li>a.active 				{ background:#fff200; color:#362f2d; border-color:#fff200;}
.menu i {
	display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    right: 30px;
    top: 0;
    background: url(../images/arrow-menu.png) center right no-repeat;
}
/* .menu i:before 						{ display:block; width:2px; height:22px; position:absolute; right:50px; top:50%; margin-top:-11px; content:""; background:#fff200;}
.menu i:after 						{ display:block; width:22px; height:2px; position:absolute; right:40px; top:50%; margin-top:-1px; content:""; background:#fff200;} */
.menu i.active:before				{ display:none;}
.menu .vueMobile 					{ display:block;}
.menu .sub { display:none; visibility:visible; width:100%; position:relative; left:auto; top:auto; margin:0; opacity:1; background:#fff; padding:0;}
.menu .sub.active {
	display: block;
}
.menu .sub li, .menu ul li.not-sub {
	border-bottom: 0;
	padding: 0;
	margin-bottom: 0;
}
.menu .sub li a, .menu ul li.not-sub a { 
	color: #444;
	line-height: 40px;
    text-align: left;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
}
.menu .sub a.active 				{ color:#fff200;}
.banner {
	max-width: 900px;
	margin: 0 auto 0;
	padding-top: 275px;
	width: 100%;
}
.banner .title{
	color: #f5f5f5;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 50px;
	font-weight: normal;
}
.banner .title span{
	font-weight: bold;
}
.content-form,
.content-banner {
	padding: 0 30px;
}
.line-forme {
	display: flex;
	background:#fff;
	border-radius: 5px;
	margin-bottom: 20px;
}
.cnt-input {
	width: 25%;
	border-right: .5px solid #cecece;
}
.cnt-input:last-child{
	border: 0;
}
.cnt-input input[type="text"]{
	border: 0;
    height: 70px;
    width: 100%;
    background: transparent;
    text-align: center;
}
.cnt-input label{
	margin: 10px 0;
}
.line-forme.line-checkboxe{
	width: 50%;
	padding: 10px 0;
}
.line-forme.line-checkboxe .cnt-input{
	width: 50%;
}
label::before, label::after {
    -webkit-transition: .25s all ease;
    -moz-transition: .25s all ease;
    -ms-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
input[type="button"], input[type="submit"]{
	background: #3554D2;
	border: 0;
	color: #ffff;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
    height: 70px;
	width: 100%;
}
input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"] + label {
	position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    margin-left: 25px;
    height: 16px;
    width: 100%;
}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #D6D6D6;
    background: #fff;
    border-radius: 4px;
}
[type="checkbox"]:checked + label:before {
	background: #3554D2;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #3554D2;
    border-radius: 4px;
}
input[type="checkbox"] + label::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #3554D2;
    left: 4px;
    top: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
[type="checkbox"]:checked + label:after {
    font: normal normal normal 12px FontAwesome;
    content: "\f00c";
    position: absolute;
    top: 4px;
    color: #fff;
    left: 4px;
    background: transparent;
    font-size: 11px;
}
/* type radio */

input[type="radio"]:not(:checked), input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
input[type="radio"] + label {
	position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    margin-left: 0;
    height: 16px;
    width: 100%;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #D6D6D6;
    background: #fff;
    border-radius: 12px;
}
[type="radio"]:checked + label:before {
	background: transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #D6D6D6;
    border-radius: 12px;
}
input[type="radio"] + label::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #3554D2;
    left: 4px;
    top: 4px;
    border-radius: 12px;
}
[type="radio"]:checked + label:after {    
	background: #3554D2;
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    height: 11px;
    width: 11px;
    border: 1px solid #3554D2;
    border-radius: 12px;
}
section {
	padding: 48px;
}
.section-top {
	background: #f6f9ff;
}
.partenaire {
	text-align:center;
	padding: 20px 0;
}
.m-title {
	text-align: center;
	font-size: 30px;
	line-height: normal;
	color :#000;
}
.m-title span{
	color: #3554D2;
}
.m-title:before{
	background: #3554D2;
	content:"";
	display: block;
	height: 7px;
	margin: 20px auto 30px;
	width: 70px;
}
.bloc-cm {	
	margin-bottom: 220px;
}
.list-cm {
	padding: 80px 0;
	display: flex;
}
.item-cm {
	background: #fff;
    box-shadow: 0 0 40px #e2e4e9;
    -moz-box-shadow: 0 0 40px #e2e4e9;
    -webkit-box-shadow: 0 0 40px #e2e4e9;
    float: left;
    width: 25%;
    margin: 0 23px;
    padding: 40px;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .9px;
}
i.icon-infos{
	position: absolute;
    font-style: normal;
    width: 19px;
    height: 19px;
    right: 20px;
    top: 20px;
    border: 1px solid #cbcbcb;
    color: #cbcbcb;
    border-radius: 20px;
    text-align: center;
    content: "i";
    line-height: 16px;
    cursor: pointer;
}
i.icon-infos.active{
	color:#3554D2;
	border-color: #3554D2;
}
.cnt-infos {
	background: #fff;
    box-shadow: 0 0 20px #e2e4e9;
    -moz-box-shadow: 0 0 20px #e2e4e9;
    -webkit-box-shadow: 0 0 20px #e2e4e9;
    font-size: 14px;
    color: #9B9B9B;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    width: auto;
    right: 40px;
    left: 40px;
	display: none;
	z-index: 999;
}
.item-cm .icon{
	text-align: center;
    margin-bottom: 20px;
    height: 74px;
}
.section-middle {
	position: relative;
}
.home .section-middle {
	
}
.blc-video {
	background: #fff;
    box-shadow: 0 0 45px #c2c2c2;
    -moz-box-shadow: 0 0 45px #c2c2c2;
    -webkit-box-shadow: 0 0 45px #c2c2c2;
    height: 478px;
    margin: -300px auto 50px;
    max-width: 807px;
    width: 100%;
}

.blc-atous {
	padding: 40px 0 0;
	display: flex;
	margin-bottom: 40px;
}
.item-atous {
    float: left;
    width: 33.33%;
    margin: 0 25px;
    padding: 10px;
    position: relative;
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 1.5px;
	color: #848484;
}
.a-title {
	color: #3554D2;
	font-size: 34px;
	font-weight: normal;
	margin-bottom: 40px;
}
.a-title span {
	font-size: 74px;
}
.item-atous .detail{
	font-size: 14px;
    color: #9B9B9B;
    line-height: 19px;
    letter-spacing: normal;
    padding: 20px 0 0 0;
}
.blc-btn {
	padding: 40px;
}
.btn {
	background: #3554D2;
	text-align:center;
	margin: 0 auto;
	display: block;
	  width: 330px;
	  height: 60px;
	  color: #ffffff;
	  font-size: 16px;
	  font-style: normal;
	  font-stretch: normal;
	  font-weight: 400;
	  line-height: 21px;
	  text-align: center;
	  text-transform: none;
	  text-decoration: none;
	  letter-spacing: 0.9px;
    padding: 18px 0;
}
.list-raison {
	padding: 80px 0;
    display: flex;
}
.item-raison {
	background: #fff;
    box-shadow: 0 0 40px #e2e4e9;
    -moz-box-shadow: 0 0 40px #e2e4e9;
    -webkit-box-shadow: 0 0 40px #e2e4e9;
    float: left;
    width: 33.33%;
    margin: 0 38px;
    padding: 40px;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .96px;
}
.item-raison .icon{
	text-align: center;
    margin-bottom: 20px;
    height: 74px;
}
.r-title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}
.list-temoignage{
	padding: 80px 100px;
}
.list-temoignage .slick-list{
	padding: 20px 0;
}
.list-temoignage .slick-prev,
.list-temoignage .slick-next{
	background: none center center no-repeat;
	cursor: pointer;
	position: absolute;
    top: 50%;
    width: 22px;
    height: 40px;
    margin-top: -20px;
    border: 0;
    text-indent: -999px;
	    overflow: hidden;
}
.list-temoignage .slick-prev{
	background-image: url(../images/arrow-prev.png);
	left: 20px;
}
.list-temoignage .slick-next{
	background-image: url(../images/arrow-next.png);
	right: 20px;
}
.item-temoignage {
	background: #fff;
    box-shadow: 0 0 40px #e2e4e9;
    -moz-box-shadow: 0 0 40px #e2e4e9;
    -webkit-box-shadow: 0 0 40px #e2e4e9;
    float: left;
    width: 50%;
    margin: 0 45px;
    padding: 40px;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .96px;
}
.item-temoignage .icon{
    box-shadow: 0 0 40px #e2e4e9;
    -moz-box-shadow: 0 0 40px #e2e4e9;
    -webkit-box-shadow: 0 0 40px #e2e4e9;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
    margin:0 auto 20px;
    height: 95px;
	width: 95px;
}
.t-title {
	color: #3554D2;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1.2px;
}
.age {
	color: #8F8F8F;
	margin-bottom: 15px;
}
.section-bottom {
	background: #f6f9ff;
}
.blc-question {
	margin: auto;
	max-width: 1200px;
	width: 100%;
}
.q-title {
	color: #3554d2;
	font-size: 26px;
	letter-spacing: 1.2px;
	margin-bottom: 30px;
}
.list-question {
	list-style: none;
	margin: 0 0 20px;
}
.list-question li{
	display: inline-block;
	margin-bottom: 15px;
	width: 49.5%;
}
.list-question li a{
	color: #000;
	font-size: 14px;
}
.btn-faq {
	margin: 0;
	width: 270px;
}

footer {
	background: #f6f9ff;
}
.section-footer {
    display: flex;
	color: #7C7C7C;
	font-size: 16px;
}
.section-footer>div {
	padding: 0 10px;
	width: 20%;
}
.section-footer a{
	display: block;
	margin-bottom: 10px;
	color: #7C7C7C;
}
.section-footer .f-title{
	color:#000;
	font-weight: bold;
	margin-bottom: 10px;
}
.section-footer .blc-foot-infos a.logo-footer{
	margin-left: 0;
}
.section-footer .blc-foot-infos a{
	color: #000;
	margin-left: 35px;
}
.section-footer .share a{
	display: inline-block;
	margin-right: 15px;
}
/* lading page */
.header-lading{
	height: 583px;
	width: 100%;
}
.header-lading .content-form{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
	position: relative;
}
.form-lading{
	display: flex;
	flex-wrap: wrap;
}
.form-lading .cnt-input {
	margin: 15px;
	border:0;
	width: 29%;
}
.form-lading .cnt-btn{
	width: 100%;
    text-align: center;
    padding-top: 20px;
}
.form-lading .cnt-btn input[type="button"], .form-lading .cnt-btn input[type="submit"] {
	max-width: 330px;
	margin: 0 auto;
}
.form-lading .cnt-input label{
	display: block;
	text-align: center;
	margin-bottom: 15px;
	color: #000;
}
.form-lading .cnt-input input[type="text"] {
    border: 1px solid #e5e5e5;
    height: 47px;
    width: 100%;
    background: transparent;
    text-align: left;
    border-radius: 7px;
    padding: 0 20px;
}
.lading .section-top {
	padding-top: 250px;
}
.SumoSelect {
    width: 100%;
}
.SumoSelect > .CaptionCont{
	border: 1px solid #e5e5e5;
    border-radius: 7px;
    height: 47px;
    width: 100%;
    font-size: 14px;
}
.SelectBox {
    padding: 10px 10px;
}
.SumoSelect.open > .optWrapper {
    top: 47px;
    display: block;
}
.SumoSelect > .CaptionCont > label > i {
	background-image: url(../images/arrow-select.png);
}
.banner .SumoSelect > .CaptionCont {
	border: 0;
	height: 70px;
	text-align: center;
	padding: 22px 10px;
	    color: #000;
}
.banner .SumoSelect.open > .optWrapper {
    top: 70px;
}
/* form client */
.black .top{
	background: #fff;
}
.black .menuMobile>div,
.black .menuMobile>div:before,
.black .menuMobile>div:after{
	background: #A1A1A1;
}
.section-half {
	display: table;
	padding: 84px 0 0;
	width: 100%;
}
.section-half>div.blc-left{
	padding-top: 40px;
	width: 50%;
	float: left;
}
.section-half>div.blc-right {
	padding-top: 0;
	width: 50%;
	float: left;
}
.titre-step {
	max-width: 665px;
    width: 100%;
    margin: 0 auto 20px;
    font-size: 14px;
	padding: 0 20px;
    box-sizing: border-box;
}
.titre-step  span{
	font-weight: bold;
    font-size: 20px;
    display: block;
	margin-bottom: 15px;
}
.titre-step-4 {
	display: none;
	max-width: 665px;
    width: 100%;
    margin: 0 auto 20px;
    font-size: 14px;
	padding: 0 20px;
    box-sizing: border-box;
}
.titre-step-4 .cnt-champ {
	clear: both;
}
.titre-step-4 .c-titre{
	float: left;
	max-width: 90%;
}
.titre-step-4 a{
	float: right;
}
.s-step-titre {
	font-size: 16px;
	color: #ACACAC;
}
.info-frm {
	position: relative;
    margin-left: 50px;
    color: #ACACAC;
    padding-left: 25px;
}
.info-frm .icon-infos{
	left: 0;
    right: auto;
    top: 3px;
}
.cnt-step{
	max-width: 450px;
	width: 100%;
	margin: auto;
}
.cnt-step h4 {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1.8px;
    font-weight: normal;
    margin-bottom: 20px;
}
.line-champ {
	margin: 0 -15px;
	clear: both;
}
.line-champ .cnt-champ{
	margin: 0 15px 25px;
	position: relative;
}
.cnt-champ label{
	display:block;
	min-height: 25px;
}
.cnt-champ label.num_tel{
	padding-top: 24px;
}
.line-champ.cnt-half .cnt-champ{
	float: left;
	width: 43.1%;
}
.line-champ.cnt-half .cnt-half .cnt-champ{
	width: 35%;
	margin-bottom: 0;
}
.line-champ.cnt-tree .cnt-champ{
	float: left;
	width: 27%;
}
.cnt-champ input[type="text"], 
.cnt-champ input[type="number"] {
    border: 1px solid #e5e5e5;
    height: 47px;
    width: 100%;
    background: transparent;
    text-align: left;
    border-radius: 5px;
	padding: 0 15px;
}
.cnt-champ input[type="checkbox"] + label{
	width: auto;
	margin: 0 15px 0 0;
}
.map-responsive {
	overflow:hidden;
	position:relative;
	display: block;
}

.map-responsive iframe {
	left:0;
	top:0;
	height:820px;
	width:100%;
}
.cnt-champ .icon-infos{
	right: 0;
    top: 5px;
}
.cnt-champ .cnt-infos{
	width: 50%;
    left: auto;
    right: 12px;
    top: 30px;
    min-width: 200px;
}
.show-step {
	display: none;
    max-height: 1020px;
    overflow: hidden;
}
.blc-right img{
	height: auto;
	width: 100%;
}
.show-step.map-responsive, .show-step.show-step1{
	display: block;
}
.info-form {
	padding: 0 20px 20px;
    text-align: center;
    color: #ADADAD;
	font-size: 14px;
}
.cnt-finanance{
	box-shadow: 0 0 12px #e2e4e9;
    margin: 10px;
    padding: 25px;
	font-size: 14px;
}
.cnt-finanance .c-titre{
	float: left;
	width: 75%;
}
.cnt-finanance .c-value{
    float: right;
    width: 25%;
    color: #ADADAD;
}
.cnt-finanance .cnt-champ{
	margin-bottom: 15px;
    clear: both;
    min-height: 22px;
}
.content.step-4 .cnt-champ textarea{
	height: 100px;
	padding: 10px;
}
/* ion slider */
.cnt-slider {
	width: 70%;
	margin: 0 auto 25px;
}
.irs-line {
    height: 3px;
    top: 33px;
    background: #EEE;
    background: #e2e1e1;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.irs-bar {
    height: 4px;
    top: 33px;
    border-top: 1px solid #3554D2;
    border-bottom: 1px solid #3554D2;
    background: #3554D2;
}
.irs-slider {
    top: 20px;
    width: 28px;
    height: 28px;
    border: 1px solid #dddada;
    background: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
}
.irs-slider:before{
	background: #fff;
    content: "";
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 10px;
    border: 4px solid #3554D2;
    width: 10px;
    margin: 4px auto;
}
.irs-from, .irs-to, .irs-single {
    color: #2B85F5;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 0;
    background: transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.block-slider-loyer .irs-single,
.block-slider-kilometrage .irs-single {
	display: block;
	white-space: normal;
	width: 100px;
	top: -13px;
}
.irs-min, .irs-max {
	display: block;
    background: transparent;
    color: #ADADAD;
    top: 28px;
    padding: 0;
	width: 55px;
	font-weight: bold;
	visibility: visible !important;
}
.irs-min{
	left: -60px;
	text-align: right;
}
.irs-max {
	right: -60px;
	text-align: left;
}
.irs-line-left, .irs-line-right {
	width: 0;
}
.block-slider-apport .irs-min {
	background: #ed1c24;
}
.irs-bar-edge {
	display:none;
}
.infos-step {
	text-align: right;
	font-weight: bold;
	font-size: 13px;
}
.blc {
	border: 1px solid #ADADAD;
	color: #ADADAD;
    font-size: 14px;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 4px;
}
.blc h5{
	font-size: 14px;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
}
.cnt-step .btn{
	float: right;
    width: 100px;
    height: 56px;
    border-radius: 4px;
}
.blc ul.liste li:before{
	background: #3554D2;
	content:"";
	display: inline-block;
	height: 9px;
	width: 9px;
	border-radius: 50%;
	margin-right: 15px;
}
.info-form-2 {
	font-size: 20px;
    text-align: center;
    margin: 30px 0 50px;
}
.info-form-3{
	font-size: 20px;
    text-align: left;
    margin: 30px 0 20px;
}
.cnt-champ textarea{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	height: 240px;
	width: 100%;
}
/* Page */
.main-page {
	padding: 80px 50px;
}
.title-page{
    text-align: center;
    font-size: 30px;
    line-height: normal;
    color: #000;
}
.title-page:after{
	background: #3554D2;
    content: "";
    display: block;
    height: 7px;
    margin: 20px auto 70px;
    width: 70px;
}
.stitre-page {
	font-size: 20px;
	margin-bottom: 20px;
}
.main-page p{
	margin-bottom: 15px;
}
.main-page li:before {
    background: #3554D2;
    content: "";
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin-right: 15px;
}
.main-page li p{
	padding: 10px 0 10px 40px;
}
/* thank you page */
.page-thank h4 {
    text-align: left;
    font-size: 24px;
    letter-spacing: 1.8px;
    font-weight: normal;
    margin-bottom: 20px;
}
.page-thank p{
	margin-bottom: 15px;
}
.page-thank .stitle{
	font-weight: bold;
}
.msg {
	color: #acacac;
}
.cnt {
	margin-bottom: 40px;
}
.share a {
    display: inline-block;
    margin-right: 15px;
}
.page-thank .blc-right{
	height: 100vh;
	height: calc(100vh - 84px);
	overflow: hidden;
}
/* page investisseur */
.header-investiseur {
	background-image: url(../images/header-investisseur.png);
	height: 814px;
}
.banner p{
	text-align: center;
	color: #fff;
}
.banner p.t-banner{
	font-size: 25px;
	margin-bottom: 50px;
}
.banner p.ctn-btn{
	margin-bottom: 15px;
}
.item-cm.item-tree{
	width: 33.33%;
}
.main-investisseur .bloc-cm{
	margin-bottom: 0;
}
.blc-invest {
	padding: 80px 0;
    display: flex;
}
.blc-invest .left-invest {
	width: 40%;
	background: #fff;
    box-shadow: 0 0 40px #e2e4e9;
    -moz-box-shadow: 0 0 40px #e2e4e9;
    -webkit-box-shadow: 0 0 40px #e2e4e9;
    float: left;
    margin: 0 38px;
    padding: 40px;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .96px;
}
.left-invest .m-title {
	margin-bottom: 20px;
}
.left-invest .m-title:before{
	display: none;
}
.left-invest .p-invest {
	position: relative;
	padding: 20px;
}
.left-invest .p-invest:after {
	background: #3554D2;
    content: "";
    display: block;
    height: 2px;
    margin: 20px auto 0;
    width: 45px;
}
.left-invest .p-invest:last-child:after {
	display: none;
}
.left-invest .p-invest i.icon-infos{
	right: 0;
	top: 0;
}
.ex-invest .m-title {
	margin-bottom: 25px;
}
.ex-invest p{
	font-size: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.blc-invest .right-invest{
	margin: 0 38px;
	height: 480px;
	overflow: hidden;
	width: 60%;
}
.blc-invest .right-invest img{
	width: 100%;
}
.part {
	display: flex;
}
.part-left, .part-right{
	padding: 25px;
	width: 50%;
}
.part-left {
	border-right: 1px solid #D2D2D2;
}
.cnt-part {
	display: flex;
}
.cnt-left, .cnt-right {
	padding: 0 25px;
	width: 50%;	
}
.cnt-left {
	border-right: 1px solid #D2D2D2;
}
.p-title {
	margin-bottom: 25px;
}
.cnt-left p, .cnt-right p{
	margin-bottom: 25px;
	text-align: center;
}
.cnt-left .montant,
.cnt-right .dure-eche{
	color: #3554D2;
	font-size: 30px;
}
.graph-taux{
	text-align: center;
}
.graph-taux {
	display: block;
	margin: 0 auto;
}
.main-investisseur .section-bottom {
	background: #fff;
}
.link-invest {
	max-width: 1200px;
	padding: 50px 0;
	margin: auto;
	display: flex;
	width: 100%;
}
.cnt-titre {
	vertical-align: middle;
	width: 80%;
}
.link-invest .cnt-btn{
	width: 20%;
}
@media screen and (max-width: 1078px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media only screen and (max-width: 420px) {
	.top {
		padding: 10px 15px 10px;
	}
	.menuMobile>div,
	.menuMobile>div:before,
	.menuMobile>div:after {
		height: 3px;
	}
	.logo img{
		height: auto;
		width: 168px;
	}
	.header-home {
		height: 540px;
	}
	.banner {
		padding-top: 120px;
	}
	.banner .title {
		font-size: 22px;
		padding: 0 24px;
		margin-bottom: 20px;
	}
	.banner .title br {
		display: none;
	}
	.line-forme {
		display: block;
		background: transparent;
	}
	.cnt-input {
		width: 100%;
		border-right: 0;
		background: #fff;
		margin-bottom: 17px;
		border-radius: 4px;
		overflow: hidden;
	}
	.banner .SumoSelect > .CaptionCont {
		border: 0;
		height: 45px;
		padding: 6px 10px;
	}
	.cnt-input input[type="text"]{
		height: 45px;
	}
	.cnt-input input[type="button"] {
		height: 50px;
	}
	section {
		padding: 25px;
	}
	.m-title {
		font-size: 24px;
		font-weight: normal;
	}
	.m-title:before {
		height: 4px;
		margin: 15px auto 15px;
		width: 45px;
	}
	.m-title br {
		display: none;
	}
	.bloc-cm {
		margin-bottom: 80px;
	}
	.list-cm {
		display: block;
		padding: 25px 0 0;
	}
	.item-cm {
		float: none;
		margin: 0 0 15px;
		padding: 25px;
		width: 100%;
	}
	.item-cm .icon {
		text-align: center;
		margin-bottom: 10px;
		height: 55px;
	}
	.item-cm .icon img {
		height: 100%;
		width: auto;
	}
	.cnt-infos {
	    right: 20px;
		left: 20px;
		top: 45px;
		font-size: 12px;
		font-weight: normal;
		line-height: 20px;
	}
	.blc-video {
		height: auto;
		margin: -100px auto 50px;
	}
	.blc-video img{ 
		display: block;
	}
	.blc-atous {
		padding: 0px 0 0;
		display: block;
		margin-bottom: 20px;
	}
	.item-atous {
		float: none;
		width: 100%;
		margin: 0 0 15px;
		padding: 0;
		font-size: 20px;
		line-height: 27px;
	}
	.a-title {
		margin-bottom: 15px;
	}
	.a-title span {
		font-size: 35px;
	}
	.item-atous .detail {
		font-size: 12px;
		color: #9B9B9B;
		line-height: 15px;
		letter-spacing: normal;
		padding: 4px 0 0 0;
	}
	.blc-btn {
		padding: 20px 0;
	}
	.btn {
		font-size: 14px;
		width: 100%;
	}
	.list-raison {
		padding: 20px 0;
		display: block;
	}
	.item-raison {
		float: none;
		width: 100%;
		margin: 0 0 20px;
		padding: 25px;
		position: relative;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
	}
	.r-title {
		text-align: center;
		font-size: 20px;
		margin-bottom: 5px;
	}
	.item-raison .icon {
		height: 55px;
	}
	.item-raison .icon img {
		height: 100%;
		width: auto;
	}
	.list-temoignage {
		padding: 20px 0;
	}
	.list-temoignage .slick-list {
		padding: 0;
	}
	.item-temoignage {
		box-shadow: 0 0 20px #e2e4e9;
		-moz-box-shadow: 0 0 20px #e2e4e9;
		-webkit-box-shadow: 0 0 20px #e2e4e9;
		width: 100%;
		margin: 10px;
		padding: 15px;
		position: relative;
		text-align: center;
		font-size: 14px;
		line-height: 26px;
	}
	.list-temoignage .slick-prev, .list-temoignage .slick-next{
		width: 22px;
		height: 20px;
	}
	.list-temoignage .slick-prev {
		left: -20px;
	}
	.list-temoignage .slick-next {
		right: -20px;
	}
	.section-bottom {
		background: transparent;
	}
	.q-title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.list-question li {
		display: inline-block;
		margin-bottom: 5px;
		width: 100%;
	}
	.section-footer {
		display: block;
		font-size: 14px;
	}
	.section-footer>div {
		padding: 0;
		width: 100%;
	}
	.section-footer .blc-foot-infos a {
		margin-left: 0;
	}
	/* lading page */
	.header-lading {
		height: 930px;
	}
	.header-lading .content-form {
		padding: 0 30px;
		background: transparent;
	}
	.form-lading .cnt-input {
		margin: 0 0 5px;
		border: 0;
		width: 100%;
		background: transparent;
	}
	.form-lading .cnt-input label {
		margin-bottom: 5px;
		color: #fff;
	}
	.form-lading .cnt-input input[type="text"] {
		background: #fff;
	}
	.lading .section-top {
		padding-top: 25px;
	}
	/* page investisseur */
	.header-investiseur {
		height: 540px;
	}
	.item-cm.item-tree {
		width: 100%;
	}
	.blc-invest {
		padding: 10px 0;
		display: block;
	}
	.blc-invest .left-invest {
		width: 100%;
		margin: 0 0 20px;
		padding: 20px;
	}
	.blc-invest .right-invest {
		margin: 0;
		height: auto;
		overflow: hidden;
		width: 100%;
	}
	.ex-invest p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.part {
		display: block;
	}
	.part-left, .part-right {
		padding: 0;
		width: 100%;
		margin-bottom: 20px;
		border: 0;
	}
	.p-title {
		text-align: center;
	}
	.cnt-part {
		display: block;
	}
	.cnt-left, .cnt-right {
		border: 0;
		padding: 0;
		width: 100%;
	}
	.link-invest {
		display: block;
	}
	.cnt-titre {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.link-invest .cnt-btn {
		width: 100%;
	}
	/* step form */
	.section-half>div.blc-left {
		float: none;
		width: 100%;
	}
	.cnt-step {
		padding: 0 20px;
	}
	.line-champ {
		margin: 0 0 15px;
		clear: both;
	}
	.line-champ.cnt-half .cnt-champ {
		float: none;
		width: 100%;
		margin: 0 0 15px;
	}
	.line-champ .cnt-champ {
		margin: 0 0 25px;
	}
	/* form investisseur */
	.section-half>div.blc-left {
		padding-top: 40px;
		width: 100%;
		float: none;
	}
	.section-half>div.blc-right {
		display: none;
	}
	.cnt-champ label.num_tel {
		padding-top: 0;
	}
	
	.info-form-2 {
		font-size: 16px;
		text-align: center;
		margin: 0px 0 25px;
	}
	.info-form-3 {
		font-size: 16px;
		margin: 0;
	}
	.main-page {
		padding: 80px 0 0;
	}
	.title-page {
		font-size: 24px;
	}
	.title-page:after {
		height: 4px;
		margin: 15px auto 15px;
		width: 45px;
	}
	.stitre-page {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.main-page li p {
		padding: 10px 0 10px 20px;
	}
}