{% extends layout_backend %}
{% block title %}Actualité::Ajout{% endblock %}

{% set menuEventAdd = true %}

{% block pageicon %}
    pe-7s-browser
{% endblock %}

{% block pagetitle %}
    Nouvelle actualité
{% endblock %}

{% block pagetitlesmall %}{% endblock %}

{% block content %}
    {{ include('backend/events/_form.html.twig') }}
    <a href="{{ path('admin_actualites_list') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}