{% extends layout_frontend %}
{% block title %}Campus{% endblock %}
{% block content %}
    <div class="main-container">
        <!-- hidden Title H1 -->
        <h1 class="hide">Campus</h1>
        <div class="map-photo-bloc">
            <figure >
                <img src="{{ asset('/assets/images/data/campus/sample-photo.jpg') }}" alt="Photo example">
            </figure>
        </div>
    </div>   
{% endblock %}