<section class="widget rechercheFormation-widget">
        <h2>Recherche une formation</h2>
        <div class="form-bloc rechercheForm-bloc">
            <form action="">
                <div class="form-field select-field">
                    <label for="diplome-search">Diplôme :</label>
                    <select name="" id="diplome-search" class="selectCustom form-control" placeholder="Veuillez selectionner">
                        <option value="">Veuillez selectionner</option>
                        <option value="1">Diplôme value 1</option>
                        <option value="2">Diplôme value 2</option>
                        <option value="3">Diplôme value 3</option>
                        <option value="4">Diplôme value 4</option>
                    </select>
                </div>
                <div class="form-field select-field">
                    <label for="departement-search">Département :</label>
                    <select name="" id="departement-search" class="selectCustom form-control"
                        placeholder="Veuillez selectionner">
                        <option value="">Veuillez selectionner</option>
                        <option value="1">Droit et science politique</option>
                        <option value="2">Département value 2</option>
                        <option value="3">Département value 3</option>
                        <option value="4">Département value 4</option>
                    </select>
                </div>
                <p class="groups-btn">
                    <button type="submit" class="search-btn btn" id="search-btn">Rechercher</button>
                </p>
            </form>
        </div>
    </section>