{% extends layout_frontend %}
{% block title %}Campus{% endblock %}
{% block content %}
    <!-- hidden Title H1 -->
    <h1 class="hide">Campus</h1>

    <div class="main-container campus-container">
        <div class="map-photo-bloc">
            <figure >
                <img src="{{ asset('/assets/images/data/campus/sample-photo.jpg') }}" alt="Photo example">
            </figure>
        </div>
        <div class="content-text-bloc">
            <div class="container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repellendus ex laborum id magnam repellat laboriosam magni, nisi placeat alias illum molestiae numquam tempore labore. Reprehenderit soluta quaerat quibusdam ex.
            </div>
        </div>
    </div>

   
{% endblock %}
