{% extends layout_backend %}
{% block title %}Article::Ajout{% endblock %}

{% set menuCMS = true %}
{% set menuArticles = true %}
{% set menuArticlesAdd = true %}

{% block pageicon %}
    pe-7s-browser
{% endblock %}

{% block pagetitle %}
    Nouvel article
{% endblock %}

{% block pagetitlesmall %}{% endblock %}

{% block content %}
    {{ include('backend/articles/_form.html.twig') }}
    <a href="{{ path('admin_articles_list') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Retour vers la liste</button></a>
{% endblock %}
